@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="min-width:80%">
    <h1 class="display-4">
        Library Store
    </h1>
    <p >
            Welcome to our Library Store, where you can explore a wide selection of literary treasures. Whether you're looking for the latest bestsellers, classic novels, or educational resources, our store has something for every book lover.

            What We Offer:
        <ul style="list-style-type:none">
                <li>Diverse Selection: From fiction and non-fiction to academic and reference books.</li>
                <li>Exclusive Deals: Enjoy special discounts and offers on a range of products.</li>
                <li> New Arrivals: Discover the latest releases and popular titles.</li>
                <li> User-Friendly Experience: Browse, search, and purchase with ease.</li>
                <li> Dive into our collection and find your next great read today!</li>
            </ul>
        </a>
    </p>
</div>
