@using System.Globalization
@model StackExchangeResponse
@{
    ViewData["Title"] = "Questions";
}

@foreach(var question in Model.Items)
{
    <div class="col mb-5">
        <div class="card h-100">
            <div class="card-body p-4">
                <div class="text-center">
                  
                    <h5 class="fw-bolder">@question.Title</h5>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="/MoreServices/QuestionDetails?id=@question.QuestionId">More details</a>
                </div>
            </div>
        </div>
    </div>
}
